<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<% include menu %>
<h1>404 Not Found</h1>
<p>Uh oh, we can't seem to find any resource at that address.</p>
</body>
</html>