<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<% include menu %>

<h1><%= title %></h1>
<p>Add a new post.</p>

<% include messages %>

<form action="/entries" method="post">
    <p><input type="text" name="entry[title]" placeholder="Title"></p>
    <p><textarea name="entry[body]" placeholder="Body"></textarea></p>
    <p><input type="submit" value="Post"></p>
</form>
</body>
</html>